@font-face {
  font-family: 'Flama';
  src:  url('fonts/Flama-Book.a61600d.woff2') format('woff2');
}

.header {
    padding: 20px;
    text-align: center;
    background: #2F25B6;
    color: white;
    font-size: 30px;
  }

.container {
    height: 600px;
    position: relative;
    background-color: white;
    margin: 40;
    border-radius: 12px;
  }

.centerContainer {
  height: 600px;
  position: relative;
  margin: 40;
}

.center {
    margin: 30;
    position: absolute;
    /* top: 5%;
    left: 5%; */
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
  }

.textBox {
    color: #071B5A;
    font-size: 20px;
    height: 500px;
    overflow-y: auto;
    font-family: 'Flama', Arial, Helvetica, sans-serif;
}

.boxTitle {
    color: white;
    font-size: 36px;
    margin: 40;
    font-family: 'Flama', Arial, Helvetica, sans-serif;
}

.languageSelector {
  margin: 40;
}

.targetLanguages {
  max-height: 10px;
  overflow-y: auto !important;
}

.selectLabel {
  font-size: 18px;
  color: white;
  font-family: 'Flama', Arial, Helvetica, sans-serif;
}

.languageChoice {
  width: 200px;
  /* padding: 30px; */
  margin-left: 0px;;
  margin-top: 20px;
  font-family: 'Flama', Arial, Helvetica, sans-serif;
}

.backButton {
  padding: 20;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: white;
  font-size: 24px;
  font-family: 'Flama', Arial, Helvetica, sans-serif;
}

body {
    background-color: #2F25B6;
}