.header {
    padding: 60px;
    text-align: center;
    background: #2F25B6;
    color: white;
    font-size: 30px;
  }

.container {
    height: 600px;
    position: relative;
    background-color: white;
    margin: 40;
    border-radius: 12px;
  }

.center {
    margin: 30;
    position: absolute;
    /* top: 5%;
    left: 5%; */
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
  }

.textBox {
    color: #071B5A;
    font-size: 20px;
    height: 500px;
    overflow-y: auto;
}

body {
    background-color: #2F25B6;
}